
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Marketplace{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script defer src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
  <header class="header">
    <div class="logo">
      <span class="dot"></span> <a href="{{ url_for('feed') }}" style="color:inherit">Mini Market</a>
    </div>
    <nav class="nav">
      <a href="{{ url_for('feed') }}">Home</a>
      {% if current_user %}
        <a href="{{ url_for('my_listings') }}">My Listings</a>
        <a href="{{ url_for('cart') }}">Cart</a>
        <a href="{{ url_for('purchases') }}">Previous Purchases</a>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('signup') }}">Sign Up</a>
      {% endif %}
    </nav>
  </header>

  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for cat, msg in messages %}
          <div class="flash">{{ msg }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>
</body>
</html>
